.carousel{position:relative;top:0}
.navbar{position:absolute;top:3px;z-index:10;background:transparent;width:100%;color:black}
nav a{color:black}
.navbar-brand{font-size:45px}
#textheader{position:absolute;top:50%;color:black;background:transparent}
#a{background:#fbfbfb}#c{background:#fbfbfb}#d{background:#f3f3f3}
footer{background:#222222;color:#ffffff}
footer a{color:#454545}
@media screen and (max-width: 576px){
  .navbar-brand{font-size:15px}
  #slider .carousel{position:-ms-page;width:250%;height:60vh;float:right}
  #textheader h2{width:80%;text-align:center;font-size:180%}
  #textheader p{margin-bottom:50%}
  #a h6{color:#ffffff}
  #a h3{color:#ffffff}
  .carousel i{display:none}
}
